/* search container */
.search-container {
  background: url(../assets/img2.jpg);
  background-size: cover;
  height: 50vh;
  width: 100;
  position: relative;
}

.search-container-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50%;
  margin: 0 auto;
}

.search-container-header {
  color: white;
  text-align: center;
  font-weight: 800;
  margin-bottom: 30px;
}

.search-input {
  padding: 10px;
  font-size: 22px;
  padding-left: 20px;
}

.search-input-scroll {
  position: sticky;
  top: 0;
}

input[type="text"]:focus {
  border-color: rgba(244, 74, 99, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(241, 81, 105, 0.8);
  outline: 0 none;
}

.search-input::placeholder {
  color: rgb(137, 137, 137);
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  .search-container-header {
    font-size: 35px;
  }
  .search-container-content {
    width: 90%;
  }
}

.copyrights {
  color: rgb(223, 223, 223);
  margin-top: 10px;
}

/* companies display  */
.companies-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 30px;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

.individual-company-container {
  width: 100%;
  background-color: rgb(243, 243, 243);
  border: 0.1px solid rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0 40px rgba(0, 0, 0, 0.025);
}

.individual-company-container > h1 {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  font-weight: 600;
  font-size: 23px;
}

@media only screen and (max-width: 900px) {
  .individual-company-container {
    width: 100%;
  }
  .companies-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .individual-company-container {
    width: 100%;
  }
  .companies-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .individual-company-container {
    width: 98%;
  }
  .companies-grid {
    width: 90%;
    grid-template-columns: 1fr 1fr;
  }

  .individual-company-container > h1 {
    font-size: 20px;
  }
}
